body{
    
}

h1{
    text-align: center;
    font-family: Comic Neue;
    font-size: 50px;
    color: orange;
    width: 500px;
    margin: 0 auto;
    padding-top: 30px;
}

div{
    border: 10px groove orange;
    height: 1448px;
    background-image: url(foto/severe-depression-56af379d3df78cf772c1aa84.jpg);
    background-repeat: no-repeat;
}

a{
    font-size: 100px;
}

div div{
    width: 349px;
    height: 448px;
    text-align: center;
    background-image: url(foto/galaxy.jpg);
}

img{
    width: 350px;
    height: 350px;
}

p{
    font-size: 50px;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Comic Neue;
    color: whitesmoke;
}